@model List<Notification>

<h2>Notifications</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Create Date</th>
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            @foreach (var noti in Model)
            {
                <tr>
                    <td>@noti.Content</td>
                    <td>@noti.CreatedAt</td>
                    <!-- Thêm dữ liệu cho các cột khác nếu cần -->
                    <td>
                        <form asp-action="DeleteNotification" asp-controller="Notification" method="post">
                            <input type="hidden" name="notiId" value="@noti.Id" />
                            <button type="submit">Xóa Thông Báo</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Notifications Now.</p>
} 


<div>
    <a asp-action="CreateNotification" asp-controller="Notification">Create New Notification</a>
</div> 