@model List<Notification>

<h2>Notifications</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Create Date</th>
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            @foreach (var noti in Model)
            {
                <tr>
                    <td>@noti.Content</td>
                    <td>@noti.CreatedAt</td>
                    <!-- Thêm dữ liệu cho các cột khác nếu cần -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có thong bao</p>
} 


<div>
    <a asp-action="CreateNotification" asp-controller="Notification">Tạo thông báo</a>
</div> 