<table>
    <tr>
        <form asp-action="ViewAllLoan" asp-controller="Loan" method="get">
            <button type="submit">View All Loan</button>
        </form>
        <form asp-action="ViewUsers" asp-controller="Home" method="get">
            <button type="submit">View List Users</button>
        </form>
        <form asp-action="ViewAllDebt" asp-controller="Debt" method="get">
            <button type="submit">View All Debts</button>
        </form>
        <form asp-action="ViewAllAuthor" asp-controller="Author" method="get">
            <button type="submit">View All Authors</button>
        </form>
    </tr>
</table>