@model Lib2.Models.User

<h1>Thông tin cá nhân của bạn</h1>

<table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th> 
                <th>Password</th> 
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.Email</td>
                    <td>@Model.Password</td>
                    <!-- Thêm dữ liệu cho các cột khác nếu cần -->
                </tr>
        </tbody>
    </table>
<!-- Nút chỉnh sửa thông tin cá nhân -->
<a asp-action="ChangeName" asp-controller="Home">Change Name</a>
<a asp-action="ChangePass" asp-controller="Home">Change Pass</a>
