@model Lib2.Models.User

<h2>Profile</h2>

<dl>
    <dt>ID:</dt>
    <dd>@Model.Id</dd>

    <dt>Name:</dt>
    <dd>@Model.Name</dd>

    <dt>Email:</dt>
    <dd>@Model.Email</dd>

    <dt>Password:</dt>
    <dd>@Model.Password</dd>
</dl>
    
<!-- Nút chỉnh sửa thông tin cá nhân -->
@* <a asp-action="ChangeName" asp-controller="Home">Change Name</a>
<a asp-action="ChangePass" asp-controller="Home">Change Pass</a> *@
<table>
    <tr>
        <td>
            <form asp-action="ChangeName" asp-controller="Home" method="get">
                <button type="submit">ChangeName</button>
            </form>
        </td>
        <td>
            <form asp-action="ChangePass" asp-controller="Home" method="get">
                <button type="submit">ChangePass</button>
            </form>
        </td>
    </tr>
</table>