@{
    ViewBag.Title= "Edit";
}
<main>
    <div class="page-section features" style="margin": 150px 0px">
        <div class="container">
            <h4>Change Title</h4>
            <form asp-action="ChangeTitle" asp-controller="Book" method="post">
                <input type="hidden" name="id" value="@ViewBag.Id" />
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <button type="submit" class="btn btn-default">Change</button>
            </form>
        </div>
    </div>
</main>